---

---
<section class="plans">
    <h2 class="plans__title">Select your plan</h2>
    <p class="plans__legend">You have the option of monthly or yearly billing.</p>
</section>

<style lang="scss">
    .plans {
        padding: 0 2rem;
        width: max-content;
        &__title {
            font-size: var(--heading);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
</style>