---
import PlansCards from "./PlanCards.astro";

const planCategory = "monthly";
---
<section class="section plans-section">
    <h2 class="plans-section__title">Select your plan</h2>
    <p class="plans-section__legend">You have the option of monthly or yearly billing.</p>

    <form method="POST" name="plans-form">

        <PlansCards category={planCategory} />

        <label class="switch-plan">
            <span class="switch-plan__label switch-plan__label--active" data-category="monthly">Monthly</span>
            <span class="switch-plan__switch">
                <input name="category" type="checkbox" class="switch-plan__input">
                <span class="switch-plan__slider switch-plan__round"></span>
            </span>
            <span class="switch-plan__label" data-category="yearly">Yearly</span>
        </label>
    
        <div class="section__next--container">
            <a class="section__back" href="#">Go Back</a>
            <input type="submit" class="section__next" value="Next Step">
        </div>

    </form>

</section>

<style lang="scss">
    form {
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available;
        width: 100%;
    }
    .plans-section {
        &__title {
            font-size: var(--heading);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }


    }
    
    .switch-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: var(--very-light-grey);
        margin: 1rem 0;
        padding: 0.5rem;
        border-radius: 8px;

        &__label {
            font-size: var(--body-l);
            color: var(--grey);
            font-weight: 500;
            &--active {
                color: var(--denim);
                transition: color .5s ease-in-out;
            }
        }

        &__switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px;
        }
        &__input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        &__slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: var(--denim);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 34px;
        }

        &__slider:before {
            position: absolute;
            content: '';
            height: 23px;
            width: 26px;
            left: 4px;
            bottom: 4px;

            background-color: var(--white);
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 50%;
        }

        &__input:checked + &__slider {
            background-color: var(--denim);
        }
        
        &__input:focus + &__slider {
            box-shadow: 0 0 1px var(--denim);
        }

        &__input:checked + &__slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        &__slider.round {
            border-radius: 34px;
        }

        &__slider.round:before {
            border-radius: 50%;
        }
    }
</style>

<script>
    import { nextStep } from "../../../scripts/utils/nextStep";
    import { getData } from "../../../scripts/state/getData";
    import { setPlanData } from "../../../scripts/state/plan/setPlanData";

    // Form submit event
    const form = document.querySelector('form[name="plans-form"]');
    form.addEventListener('submit', (e) => {
        e.preventDefault();

        // Get the data from the form
        const formData = new FormData(form as HTMLFormElement);
        const data = Object.fromEntries(formData.entries());

        // Get the state data
        const planData = getData();
        
        // Set the plan data
        const switchPlan = document.querySelector('.switch-plan__input');
        data.category = switchPlan.checked ? 'yearly' : 'monthly';
        setPlanData(planData, data);

        // Function to changes in sections
        nextStep(2);
    })

    // Go back button event
    const goBack = document.querySelector('.section__back');
    goBack.addEventListener('click', (e) => {
        e.preventDefault();
        // Function to changes in sections
        nextStep(0);
    })
</script>