---
---

<table class="resume">
    <thead class="resume__main-pack">
        <tr>
            <th>
                Arcade (Monthly) 
                <a class="resume__main-pack--cta" href="#">Change</a>
            </th>
            <th>$9/mo</th>
        </tr>
    </thead>
    <tbody class="resume__addons">
        <tr>
            <td>Online service</td>
            <td>+$1/mo</td>
        </tr>
        <tr>
            <td>Larger storage</td>
            <td>+$2/mo</td>
        </tr>
    </tbody>

    <tfoot class="resume__total">
        <tr>
            <td>Total(per month)</td>
            <td>+$12/mo</td>
        </tr>
    </tfoot>
</table>

<style lang="scss">
    .resume {
        border-collapse: collapse;
        width: 100%;
        &__main-pack {
            background-color: var(--very-light-grey);
            border-radius: 8px;
            color: var(--denim);
            & tr th {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom: 1px solid var(--light-grey);
                &:first-child {
                    align-items: flex-start;
                }
            }

            &--cta {
                font-size: 14px;
                color: var(--grey);
            }
        }
        &__addons {
            background-color: var(--very-light-grey);
            border-radius: 8px;
        }

        &__total {
            & tr td:last-child {
                font-size: 20px;
                color: var(--purple);
                font-weight: bold;
            }
        }

        & tr {
            display: flex;
            justify-content: space-between;
        }

        & th {
            width: 100%;
            padding-bottom: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: right;

            &:first-child {
                margin-left: 2rem;
            }

            &:last-child {
                margin-right: 2rem;
            }
        }

        & td {
            color: var(--grey);
            padding: 1rem 2rem;
        }
    }
</style>