---
import Resume from "./Resume.astro";
---
<section class="section summary">
    <h2 class="summary__title">Finishing up</h2>
    <p class="summary__legend">Double-check everything looks OK before confirming.</p>
    <Resume />

    <div class="section__next--container">
        <input type="submit" class="section__next" value="Next Step">
    </div>
</section>

<style lang="scss">
    .summary {
        &__title {
            font-size: var(--heading);
            color: var(--denim);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
</style>

<script>
    import { nextStep } from "../../utils/nextStep";

    const NextStep = document.querySelectorAll(".section__next");
    NextStep[3].addEventListener("click", () => {
        nextStep(4);
    });

</script>