---
import ResumeTable from './ResumeTable.astro'
---
<section class="section summary">
    <h2 class="summary__title">Finishing up</h2>
    <p class="summary__legend">Double-check everything looks OK before confirming.</p>
    
    <ResumeTable />

    <div class="section__next--container">
        <a class="section__back section__back--summary" href="#">Go Back</a>
        <input type="submit" class="section__next section__next--confirm" value="Confirm">
    </div>
</section>

<style lang="scss">
    .summary {
        &__title {
            font-size: var(--heading);
            color: var(--denim);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    .section__next--confirm {
        background-color: var(--purple) !important;
        &:hover {
            background-color: #928CFF !important;
        }
    }
</style>

<script>
    import { nextStep } from "../../../scripts/utils/nextStep";

    const NextStep = document.querySelectorAll(".section__next");
    NextStep[3].addEventListener("click", () => {
        nextStep(4);
    });

    const goBack = document.querySelector('.section__back--summary');
    goBack.addEventListener('click', (e) => {
        e.preventDefault();
        nextStep(2);
    })
</script>