---

---
<section class="summary">
    <h2 class="summary__title">Finishing up</h2>
    <p class="summary__legend">Double-check everything looks OK before confirming.</p>
</section>

<style lang="scss">
    .summary {
        padding: 0 2rem;
        width: max-content;
        &__title {
            font-size: var(--heading);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
</style>