---
import Addon from "./Addon.astro";
---
<section class="section addons">
    <h2 class="addons__title">Pick add-ons</h2>
    <p class="addons__legend">Add-ons help enhance your gaming experience.</p>

    <div class="addons__container">
        <Addon 
            title="Online service"
            description="Access to multiplayer games"
            price="+$1/mo"
        />
        <Addon 
            title="Larger storage"
            description="Extra 1TB of cloud save"
            price="+$2/mo"
        />
        <Addon 
            title="Customizable profile"
            description="Custom theme on your profile"
            price="+$2/mo"
        />
    </div>

    <div class="section__next--container">
        <input type="submit" class="section__next" value="Next Step">
    </div>

</section>

<style lang="scss">
    .addons {
        &__title {
            font-size: var(--heading);
            color: var(--denim);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__container {
            max-width: 100%;
        }
    }

</style>
<script>
    import { nextStep } from "../../utils/nextStep";

    const NextStep = document.querySelectorAll(".section__next");
    NextStep[2].addEventListener("click", () => {
        nextStep(3);
    });

</script>