---
import Addon from "./Addon.astro";
// Fetch data from data.js
import Data from "../../data.js";

---
<section class="section addons">
    <h2 class="addons__title">Pick add-ons</h2>
    <p class="addons__legend">Add-ons help enhance your gaming experience.</p>

    <div class="addons__container">
        {
            Data.filter(plan => plan.category === "yearly").filter(plan => plan.name === "Arcade").map(plan => plan.addons).map(addons => addons.map(addon => {
                return (
                    <Addon 
                        title={addon.name}
                        description={addon.desc}
                        price={addon.time}
                    />
                )
            }))
        }
    </div>

    <div class="section__next--container">
        <a class="section__back section__back--addons" href="#">Go Back</a>
        <input name="addons-next" type="submit" class="section__next" value="Next Step">
    </div>

</section>

<style lang="scss">
    .addons {
        &__title {
            font-size: var(--heading);
            color: var(--denim);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__container {
            max-width: 100%;
        }
    }

</style>
<script>
    import { nextStep } from "../../../scripts/utils/nextStep";
    import { getData } from "../../../scripts/state/getData";
    import { getPlanData } from "../../../scripts/state/plan/getPlanData";

    const nextSection = document.querySelector("input[name=addons-next]");

    nextSection.addEventListener("click", () => {
        const data = getData();
        const planData = getPlanData(data)

        if (planData) {
            nextStep(3);
        }
    });


    const goBack = document.querySelector('.section__back--addons');
    goBack.addEventListener('click', (e) => {
        e.preventDefault();
        nextStep(1);
    })

</script>