---

---
<section class="addons">
    <h2 class="addons__title">Pick add-ons</h2>
    <p class="addons__legend">Add-ons help enhance your gaming experience.</p>
</section>

<style lang="scss">
    .addons {
        padding: 0 2rem;
        width: max-content;
        &__title {
            font-size: var(--heading);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
</style>