---
import Form from "./form/Form.astro";
import Plans from "./plans/Plans.astro";
import Addons from "./addons/Addons.astro";
import Summary from "./summary/Summary.astro";
import Thanks from "./Thanks.astro";

const { steps } = Astro.props;

---
<div class="steps">
    {
        steps.map((step: any) => (
            <div class={`steps__item ${step.id === 1 ? 'steps__item--active' : ''}`}>
                {
                    step.component === 'Form' && <Form />
                }
                {
                    step.component === 'Plans' && <Plans />
                }
                {
                    step.component === 'Addons' && <Addons />
                }
                {
                    step.component === 'Summary' && <Summary />
                }
                {
                    step.component === 'thanks' && <Thanks />
                }
            </div>
        ))
    }
</div>

<style lang="scss">
    .steps {
        flex: 1;
        &__title {
            font-size: var(--heading);
            margin: 0;
            padding: 0;
        }

        &__legend {
            font-size: var(--body-l);
            color: var(--grey);
            line-height: 20px;
        }

        &__item {
            display: none;
            -webkit-animation: fadeIn 1s;
            -moz-animation: fadeIn 1s;
            -o-animation: fadeIn 1s;
            -ms-animation: fadeIn 1s;
            height: 100%;
            box-sizing: border-box;
            &--active {
                display: block;
                
            }
        }

        @media screen and (max-width: 500px) {
			width: 85%;
            margin: -20% auto 0 auto;
            padding: 1rem;

            background-color: var(--white);
            border-radius: 10px;
            box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.10);

		}
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @-moz-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @-webkit-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @-o-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    @-ms-keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
</style>