<section class="section thanks">
    <img class="thanks__icon" src="/assets/images/icon-thank-you.svg" alt="thanks-icon">
    <h2 class="thanks__title">Thank you!</h2>
    <p class="thanks__content">Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgaming.com.</p>
</section>

<style lang="scss">
    .thanks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: -webkit-fill-available;
        margin: auto;

        &__icon {
            width: 70px;
            height: 70px;
            margin: 0 auto;
        }
        &__title {
            font-size: 24px;
            font-weight: 700;
            margin: 20px 0 0 0;
            color: var(--denim);
        }
        &__content {
            font-size: 16px;
            font-weight: 400;
            color: var(--grey);
            text-align: center;
        }
    }
</style>