---
	import StepWrapper from './steps/StepWrapper.astro';
	import Bar from './sidebar/Bar.astro';

	const STEPS = [
		{	
			id: 1,
			step: 'Your info',
			component: 'Form',
		},
		{	
			id: 2,
			step: 'Select plan',
			component: 'Plans',
		},
		{
			id: 3,
			step: 'Add-ons',
			component: 'Addons',
		},
		{
			id: 4,
			step: 'Summary',
			component: 'Summary',
		},
	];
---

<section class="main-card">
	<!-- Sidebar -->
	<Bar steps={STEPS} />

	<!-- Steps -->
	<StepWrapper steps={STEPS} />
</section>

<style lang="scss">
	.main-card {
		width: 100%;
		height: 100%;
		background-color: var(--white);
		border-radius: 15px;
		padding: 1rem;
		display: flex;
	}
</style>

<script>
	function toggleStep() {
		const steps = document.querySelectorAll('.step');
		steps.forEach((step, index) => {
			step.addEventListener('click', () => {
				event.preventDefault();

				// Remove active class from all steps
				steps.forEach((step) => {
					step.classList.remove('step--active');
					step.querySelector('.step__tip').classList.remove('step__tip--active');
				});

				step.querySelector('.step__tip').classList.toggle('step__tip--active');

				// Add active class to section
				toggleSection(index);
			});
		});
	}

	function toggleSection(index) {
		document.querySelectorAll('.steps__item').forEach((section) => {
			section.classList.remove('steps__item--active');
		});

		document.querySelectorAll('.steps__item')[index].classList.add('steps__item--active');
	}

	document.addEventListener('DOMContentLoaded', toggleStep);
</script>