---
interface Props {
    index: number;
    step: string;
}

const {index, step,} = Astro.props;
---
<a class="step" href={`#step${index + 1}`}>
    <div class=`step__tip ${index === 0 ? 'step__tip--active' : '' }`>{index + 1}</div>
    <div class="step__content">
        <h1 class="step__title"> Step {index + 1}</h1>
        <p class="step__tag">{step}</p>
    </div>
<a/>

<style lang="scss">
    .step {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        text-decoration: none;
        &__tip {
            border-radius: 50%;
            width: 33px;
            height: 33px;
            display: flex;
            align-items: center;

            justify-content: center;
            border: 1px solid var(--white);
            color: var(--white);

            &--active {
                background-color: var(--sky-blue);
                color: #000;
                transition: all 0.3s ease-in-out;
            }
        }
        &__content {
            padding-left: 10px;
        }
        
        &__title {
            font-size: var(--body-s);
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 10px;
            color: var(--light-blue);
            padding: 0;
            margin: 0;
        }
        &__tag {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--white);
            padding: 0;
            margin: 0;
        }

        @media screen and (max-width: 500px) {
            height: fit-content;
            margin-bottom: 0;
            margin-top: 5px;
            align-items: flex-start;
            &__tip {
                width: 40px;
                height: 40px;
            }
            &__content {
                display: none;
            }
		}
    }
</style>