---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" sizes="32x32" type="image/png" href="/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="/assets/js/script.js" type="module"></script>
		<script>
			import { setData } from '../scripts/state/setData.js';
			setData();
		</script>
	</body>
</html>

<style lang="scss" is:global>
	:root {
		/* Color styles */
		--b-g: rgba(239, 245, 255, 1);
		--border-color: rgba(214, 217, 230, 1);
		--denim: rgba(2, 41, 89, 1);
		--grey: rgba(150, 153, 170, 1);
		--light-blue: rgba(171, 188, 255, 1);
		--light-grey: rgba(214, 217, 230, 1);
		--orange: rgba(255, 175, 126, 1);
		--pink: rgba(249, 129, 142, 1);
		--purple: rgba(72, 62, 255, 1);
		--red-errors: rgba(238, 55, 74, 1);
		--sky-blue: rgba(190, 226, 253, 1);
		--very-light-grey: rgba(248, 249, 255, 1);
		--white: rgba(255, 255, 255, 1);

		/* Text-size styles */
		/* base size: body--l (16px) */
		--heading: 2rem;
		--body-l: 1rem;
		--body-m: 0.88rem;
		--body-s: 0.75rem;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	html {
		font-family: 'Ubuntu', sans-serif;
		background-color: var(--b-g);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	body {
		background-color: var(--b-g);
		margin: 0;
		padding: 0;
		position: relative;
	}

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: fit-content;

		@media screen and (max-width: 500px) {
			width: 100%;
			max-width: 100%;
			margin: 0;
			padding: 0;
		}
	}

	.error {
        color: var(--red-errors);
        font-size: var(--body-s);
        font-weight: 700;

        position: absolute;
        right: 0;
    }

	.section {
		display: flex;
		flex-direction: column;
		padding: 2rem 5rem;
		height: -webkit-fill-available;
		&__next {
			margin-left: auto;
			padding: 0.5rem 1rem;
			width: fit-content;
			height: 2.5rem;
			background-color: var(--denim);
			border: none;
			border-radius: 8px;
			color: var(--white);
			font-size: var(--body-l);
			font-weight: 700;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #164A8A;
			}

			&--container {
				width: 100%;
				display: flex;
				align-items: center;
				margin-top: auto;
				justify-self: end;
			}
			@media screen and (max-width: 500px) {
				margin: 1rem 0.5rem;
				&--container {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					position: fixed;
					bottom: 0;
					left: 0;
					background-color: var(--white);
				}
			}
		}

		&__back {
			color: var(--grey);
			text-decoration: none;
		}

		@media screen and (max-width: 500px) {
			padding: 0;
		}
	}

	// Plans styles
	.plans {
		& input:checked+label {
			border: 1px solid var(--purple);
			background-color: var(--very-light-grey);
			transition: all 1s ease-in-out;
		}

		& input:hover + label {
			border: 1px solid var(--purple);
			background-color: var(--very-light-grey);
			transition: all 1s ease-in-out;
		}
	}
    
    .plan {
        border: 1px solid var(--grey);
        border-radius: 8px;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        &__label {
            cursor: pointer;
        }
        &__input {
            display: none;
        }
        &__img {
            padding-bottom: 2rem;
        }
        &__title {
            font-size: 1rem;
            color: var(--denim);
            margin: 0;
            padding: 0;
			transition: all .5s ease-in-out;
        }
        &__price {
            font-size: var(--body-m);
            color: var(--grey);
            margin: 0;
            padding: 5px 0;
			transition: all .5s ease-in-out;
        }
        &__free {
            font-size: var(--body-s);
            color: var(--denim);
            margin: 0;
            padding: 0;
			transition: all .5s ease-in-out;
        }
        @media screen and (max-width: 500px) {
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            display: grid;
            grid-template-columns: 20% 2fr;
            grid-template-rows: 1fr 1fr 1fr;

            align-items: center;

            grid-template-areas: 
                "img title" 
                "img price" 
                "img free"
            ;
            &__img {
                padding-bottom: 0;
                grid-area: img;
            }

            &__title {
                padding: 0;
                grid-area: title;
            }

            &__price {
                grid-area: price;
            }
		}
    }

	// Addons styles
	.addon__control {
        position: relative;
    }

    .addon__control--input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .addon__control--checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--light-grey);
    }

    .addon__control--input:checked ~ .addon__control--checkmark {
        background-color: var(--purple);
        border-color: var(--purple);
        transition: all 0.3s ease-in-out;
    }

    // Select parent .addon when input is checked
    .addon:has(.addon__control--input:checked) {
        background-color: var(--very-light-grey);
        border-color: var(--purple);
        transition: all 0.3s ease-in-out;
    }

    .addon__control--checkmark:after {
        // SVG checkmark icon
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 9l3 3 6-6'/%3E%3C/svg%3E");
        display: none;
        padding-right: 0.1rem;
    }

    .addon__control--input:checked ~ .addon__control--checkmark:after {
        display: block;
        transition: all 0.3s ease-in-out;
    }
    
    .addon {
        display: flex;
        align-items: center;
        border: 1px solid var(--light-grey);
        border-radius: 8px;
        padding: 0.5rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        margin-top: 1rem;

        &__control {
            padding: 1rem;
        }

        &__content {
            padding: 0.5rem;
            &--title {
                color: var(--denim);
                margin: 0;
                padding: 0;
            }

            &--description {
                color: var(--grey);
                margin: 0;
                padding: 0;
            }
        }

        &__price {
            padding: 0.5rem;
            flex: 1;
            &--legend {
                text-align: right;
                color: var(--purple);
                margin: 0;
                padding: 0;
            }
        }
    }
</style>
